<!DOCTYPE html>
<html>
<head> 
<meta charset="UTF-8">
<head>
  <script src="http://code.angularjs.org/1.2.15/angular.js"></script>
  <script>
    function removeExpectHankakuKana(text) {
      alert("aaa");
      return text + text.length();
    }
  </script>
</head>
<body>
  <div ng-app>
      <p>1.ng-keyup 使用</p>
      <p>入力＋入力：<input ng-model="kanaInput" ng-keyup="kanaInput = kanaInput + kanaInput"></p>
      
      <p>2.ng-change 使用</p>
      <p>入力＋入力：<input ng-model="kanaInput2" onkeyup="removeExpectHankakuKana()"></p>
  </div>
    
</body>
</html>
